<style>
h1 
{
  color: #005580
}
</style>
<h1>Savings Deposit</h1>
<h3> New Transaction </h3>
<%= form_for @savingsdeposittransaction do |f| %>
<%= f.hidden_field :savingsdeposit_id , :value => params[:id] %>
<% if @savingsdeposittransaction.errors.any? %>
<h4>savingsdeposittransaction not added</h4>
<ul>
<% @savingsdeposittransaction.errors.full_messages.each do |error| %>
<li><%= error %></li>
<% end %>
</ul>
<% end %>


<div class="string input optional stringish control-group">
	<%= f.label :transaction_date %><div class="controls">
    <%= f.text_field :transaction_date, :value => Date.today, :readonly => true %>
</div></div>


<div class="string input optional stringish control-group">
	<%= f.label :transactiontype %><div class="controls">
    <%= f.select(:transactiontype, options_for_select([['Cash', 'Cash'], ['Bank', 'Bank'], ['Transfer', 'Transfer']]))%>
</div></div>


<div class="string input optional stringish control-group">
    <%= f.label :current_balance %><div class="controls">
    <%= f.text_field :current_balance, :value => @savingsdeposittransaction.savingsdeposit.current_balance, :readonly => true %>
</div></div>

<div class="string input optional stringish control-group">
    <%= f.label :transactionmode %><div class="controls">
    <%= f.select(:transactionmode, options_for_select([['Credit', 'Credit'], ['Debit', 'Debit']]))%>
</div></div>


<div class="string input optional stringish control-group">
    <%= f.label :transaction_amount %><div class="controls"><%= f.text_field :transaction_amount %>
</div></div>

<div class="string input optional stringish control-group">
    <%= f.label :particulars %><div class="controls"> 
    <%= f.text_field :particulars, :id => "particulars" %>
</div></div>


<div class="string input optional stringish control-group">
	<%= f.label :comments %><div class="controls"><%= f.text_area :comments, :id => "comments", :cols => 5, :rows => 3 %>
</div></div>

     <fieldset class="form-actions"> <%= f.submit "Add Transaction", class: "btn btn-primary" %></field>
    <% end %>
  </div>
</div>
